VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=

# En local, utiliser l'URL du backend local si nécessaire.
# En production, cette URL Render est utilisée par défaut par le frontend.
VITE_API_URL=https://worker-traker-back.onrender.com
