PORT=5000
CLIENT_URL=http://localhost:5173

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

SEED_COMPANY_ID=demo-company
SEED_COMPANY_NAME=Entreprise Démo
SEED_DEFAULT_PASSWORD=ChangeMe123!
